<%- include("partials/header") %>
<main>
    <article>
        <h2><%= title %></h2>
        <p><%= content %></p>
    </article>
    <a href="/" class="button">Back to Home</a>
</main>
<%- include("partials/footer") %>
